# Ignore all files without extension.
# If you need to git-add a file without extension, add -f
CHR_screens.chr
_debug.txt
_listing.txt
z_debug.txt
z_listing.asm
snaps/
assets/*.chr
assets/*.bin
debug/last-mini.log
debug/last-mini-*.log
debug/last.log
debug/game.nes.6.2.nl
debug/game.nes.6.2.skip.nl
*.nes
/*.nl
copy_*